<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Product</title>
</head>
<body>

<h1>✏️ Edit Product</h1>

<form action="/update-product" method="post">

    <input type="hidden" name="id" th:value="${product.id}">

    <input type="text"
           name="name"
           th:value="${product.name}"
           required>
    <br><br>

    <input type="number"
           name="price"
           th:value="${product.price}"
           required>
    <br><br>

    <button type="submit">Update Product</button>

</form>

<br>

<a href="/products">Back to Products</a>

</body>
</html>